<div id="div-lista">
    <h2>Lista Corridas</h2>

    <div id="lista-corrida">
        <div class="item-corrida">
            <span class="dados-corrida">
                <span class="dados-corrida">
                    elem.id - elem.nome - elem.cpf - elem.sexo - elem.cidade -elem.uf
                </span>
                <span class="links-lista">
                    <a class="lnk-editar"> Editar </a>
                    <a class="lnk-excluir"> Excluir </a>
                </span>
            </span>
        </div>

        <div class=" div-item-corrida">
            NENHUM REGISTRO NA LISTA
        </div>
    </div>


</div>
