#cabecalho, #logo, #menu{
    display: flex;
    align-items: center;
}

#logo, #menu-ul{
    justify-content: center;
}

#cabecalho{
    background-color: var(--cor_primaria);
    width: 1000px;
    height: 150px;
    margin: 20px auto;
    padding: 15px; 
    justify-content: space-between;
}

#logo{
    width: 200px;
    height: 150px;
    background-color: rgb(195, 152, 235);
}

#menu-ul{
    width: 790px;
    height: 150px;
    list-style: none;
    justify-content: right;
}

.lnk-menu{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 16px;
    color: var(--branca);
    transition: 05s ease;
}

.lnk-menu:hover{
    opacity: 0.5;
}

#titulo-logo{
    text-transform: uppercase;
    color: var(--cor02);
    border: 1px solid  var(--cor02);
    padding: 5px;
    margin: 0px 4px;
    letter-spacing: 5px;
}